*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    padding:220px;
    background-color: #272630;
}
form{
    display:block;
    margin: 0 auto;
}
.login{
    width: 550px;
    height: 450px;
    margin: 0 auto;
    padding: 60px 55px;
    border: none;
    border-radius: 15px;
    background-color: #484e55;
    box-shadow: 3px 3px 8px 3px rgb(31, 30, 32);
} 
.id,.password{
    float: left;
    width: 270px;
    height: 35px;
    margin: 5px 10px 5px 35px;
    padding: 0px 7px;   
    border: none;   
    border-radius: 3px;
    outline: none;
}
input::placeholder {
  color: grey;
  font-style: italic;
}
#drop_down_menu{
    display: block;     
    width: 270px;
    height: 35px; 
    margin: 5px 10px 80px 35px;
    border-radius: 3px;
}
.submit{ 
    display:inline-block;
    clear: both;
    width: 100px;
    height: 80px;
    margin: 5px;
    padding: 10px 10px 10px 10px; 
    border:1px solid black; 
    border-radius: 3px; 
    background-color: #4A4A4A; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4A4A4A), to(#32363B));
    background-image: -webkit-linear-gradient(top, #4A4A4A, #32363B);
    background-image: -moz-linear-gradient(top, #4A4A4A, #32363B);
    background-image: -ms-linear-gradient(top, #4A4A4A, #32363B);
    background-image: -o-linear-gradient(top, #4A4A4A, #32363B);
    background-image: linear-gradient(to bottom, #4A4A4A, #32363B);
    color: #FFFFFF;
    font-family:arial, helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    text-decoration:none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4A4A4A, endColorstr=#32363B);
}
.submit:hover{
    border:1px solid black;
    background-color: #313131;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#1b1d1f));
    background-image: -webkit-linear-gradient(top, #313131, #1b1d1f);
    background-image: -moz-linear-gradient(top, #313131, #1b1d1f);
    background-image: -ms-linear-gradient(top, #313131, #1b1d1f);   
    background-image: -o-linear-gradient(top, #313131, #1b1d1f);
    background-image: linear-gradient(to bottom, #313131, #1b1d1f);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#313131, endColorstr=#1b1d1f);
}
.logo_img{
    width: 400px;
    margin-left: 25px;
    margin-bottom: 50px;
    filter: brightness(160%);
}
p{
    color: grey;
    margin: 5px 10px 5px 35px;
}